
.headLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff3300;
    font-weight: bold;
    font-size: 1.5rem;
   
}
.headLogo span {
    color: black;
    font-weight: bold;
}

.searchContainer {
  width: 30%;
  display: inline-grid;
  grid-template-columns: 1fr 8fr;
  grid-column-gap: .5rem;
}

form {
  width: 100%; 
  text-align: center;
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-column-gap: .5rem;
  grid-column: 2/ span 1;
  
}
input {
 height: 100%;
 width: 100%;
 padding-left: 1rem;
 border-radius: .2rem;

}
.searchContainer button {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   border-radius: .2rem;
    
}

.headRemoveButton {

grid-column: 0/ span 1;


}
.headSearchButton{
  grid-column: 2/ span 1;
  
}

.headSearchButton img {
  height: 90%;
}