.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.categories button {
    width: 33%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories img {
    height: 1.5rem;
}

.activeCategory {
    background-color: #aaafbe;
    box-shadow: rgba(175, 174, 174, 0.35) 0px 2px 3px;
   
}

.activeCategory:active {
    
    box-shadow: none;
  
   
}

.categories p {
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
}
