.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories button {
    width: 32%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories img {
    height: 1.5rem;
}

.activeCategory {
    background-color: #aaafbe;
}