img {
    max-width: 100%;
}

.postTile{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 1rem;
}
.postVote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding-top: 2rem;
}

.postVote button img{
    height: 1rem;
    margin: .1rem;
}

.postContent {
    max-width: 85%;
    padding-right: 1rem;
}

.postContent h4 {
  
    padding: 1rem;
}
.postInfo {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 ;
    flex-direction: column;
    
}

.postComments{
    display: inline-flex;
    justify-content: space-between;
}
.postComments img {
    height: 1.2rem;
    padding: .2rem;
   
}
.postComments button {
     border-radius: .2rem;
     padding: .2rem;
     display: flex;
}

.postTile button {
    background-color: white;
    cursor: pointer;
}
.postComments button:hover {
    background-color: #e2e2e2;
}
.voteUp:hover {
    background-color: aquamarine;
}

.voteDown:hover {
    background-color: rgb(255, 131, 131);
}

@media only screen and (max-width: 497px) {
    p {
        font-size: 77%;
    }
    h4 {
        font-size: 80%;
    }
    .postComments {
        font-size: 77%;
        overflow-wrap: break-word;
    }
  }
  